.profile-management {
  padding: 20px;
}

.profile-management label {
  display: block;
  margin-top: 10px;
}

.profile-management input,
.profile-management textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.profile-management img {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

.profile-management button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-management button:hover {
  background-color: #2980b9;
}
